---
layout: null
permalink: hierarchy-template.html
---

<div>
    <p>TOPICS
        <button type="button" class="btn btn-xs collapseToggle all" id="lhn-collapse">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
    </p>
</div>



{% assign ancestors = "" | split:"|"  %}

{% if sorted == blank %}
    {% assign sorted = site.pages  | sort: "path"  %}

    {% for node in sorted %}

        {% if node.url contains '404.md' %}
            {% continue %}
        {% endif %}

        {% if node.url contains '404.html' %}
            {% continue %}
        {% endif %}

        {% if node.url contains '/css/main.css' %}
            {% continue %}
        {% endif %}

        {% if node.url contains 'search_data.json' %}
            {% continue %}
        {% endif %}

        {% if node.url contains 'index' %}
            {% continue %}
        {% endif %}

        {% if node.url contains 'hierarchy-template.html' %}
            {% continue %}
        {% endif %}

        {% if node.url contains 'code' %}
            {% continue %}
        {% endif %}

        {% assign parts = node.url  | split: '/' %}
        {% capture depth %}{{ parts.size | minus:1 }}{% endcapture %}

        {% for part in parts limit:{{depth}}  %}
            {% if forloop.rindex == 1 %}
                {% capture ancestor %}{{ part }}{% endcapture %}
            {% endif %}
        {% endfor %}

        {% if ancestors contains ancestor %}
        {% else %}
            {% assign shiftLeft = ancestors.size | plus:1 | minus:depth %}
            {% for i in (0..shiftLeft) %}
                </ul></li>
               {% assign ancestors = ancestors | pop %}
            {% endfor %}

            {% assign ancestors = ancestors | push: ancestor %}

            <li>

                    <a href="{{ site.github.url }}{{ node.url }}">
                        <span class="glyphicon glyphicon-triangle-right Collapsable">
                        {{ ancestor }}
                         </span>
                    </a>


                <ul style="list-style-type: none;" id="{{ ancestor }}">
        {% endif %}

        {% assign construction = "" %}

        {% if node.status == 'underConstruction' %}
            {% assign construction = "glyphicon glyphicon-alert underConstruction" %}
        {% endif %}



        <li style="list-style-type: disc;">
            <span><a href="{{ site.github.url }}{{ node.url }}">
                <span class="{{construction}}"></span> {{ node.breadcrumb }}</a></span>
    {% endfor %}
{% endif %}

<script type="text/javascript">
    $(".Collapsable").click(function () {
    console.log("tagged")
    });
    $("#lhn-collapse").click(function () {
        var collapsed = true;
        if (this.collapsed === true) this.collapsed = false;
        else this.collapsed = true;

        $("#lhn-collapse .glyphicon").toggleClass("glyphicon-chevron-down",this.collapsed);
        $("#lhn-collapse .glyphicon").toggleClass("glyphicon-chevron-up",!this.collapsed);

        expandCollapseAll('content',           this.collapsed);
    });
</script>

<script type="text/javascript">
    window.onload = function () {
        compactMenu('content',           false,'');
        selfLink('content','highlightSelected',false);
    };

    window.onunload = function () {

    };
</script>
